<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>KF Bioplant</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/css/assets/style.css}"></link>
<link rel="stylesheet" th:href="@{/css/vendor/datatable.css}"></link>
<link rel="stylesheet" th:href="@{/css/vendor/bootstrap-dialog.min.css}"></link>
<link rel="stylesheet" th:href="@{/css/vendor/bootstrap.min.css}"></link>
<link rel="icon" type="image/x-icon"
	th:href="@{/css/images/favicon.ico}"></link>

<script type="text/javascript" th:src="@{/js/vendor/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/js/vendor/jquery.dataTables.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/vendor/bootstrap-dialog.min.js}"></script>	
<script type="text/javascript" th:src="@{/js/assets/inputUtils.js}"></script>
<script type="text/javascript" th:src="@{/js/assets/fileUpload.js}"></script>
<script type="text/javascript" th:src="@{/js/assets/formValidation.js}"></script>
<script type="text/javascript" th:src="@{/js/assets/dataBinding.js}"></script>
<script type="text/javascript" th:src="@{/js/assets/tableHeaders.js}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		hideDataTable();		
	});
</script>

</head>

<body>
	<div class="container well well-sm">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-12">
				<h2 class="text-center">
					<b>KF Bioplant Back Office Portal</b>
				</h2>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>

	<div class="container well well-sm">
		<div class="row">
			<form method="POST" enctype="multipart/form-data" id="uploadFile"
				class="form-inline">
				<div class="form-group col-md-6 clearfix">
					<div class="clearfix">
						<label for="sel1">Select File</label> <input type="file"
							name="file" class="file" id="file"></input>
						<div class="input-group col-xs-12">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-file"></i></span> <input type="text"
								class="form-control" disabled="true" placeholder="Upload File"
								id="inputFileName"></input> <span class="input-group-btn">
								<button class="browse btn btn-primary" type="button">
									<i class="glyphicon glyphicon-search"></i> Browse
								</button>
							</span>
						</div>
					</div>
					<div class="error-msg-text hide" id="file_error">Please
						Select File.</div>
					<div class="error-msg-text hide" id="fileType_error">Please
						Select Valid File.(eg.txt file)</div>
				</div>

				<div class="form-group col-md-2 clearfix">
					<div class="clearfix">
						<label for="shift" class="padding">Select Shift</label>
						<div class="dropdown form-group col-xs-12">
							<select class="form-control" name="shift" id="shift">
								<option value="0">---Select---</option>
								<option value="1">First Shift</option>
								<option value="2">Second Shift</option>
							</select>
						</div>
					</div>
					<div class="error-msg-text hide" id="shift_error">Please
						Select Shift.</div>
				</div>

				<div class="form-group col-md-2 clearfix">
					<button type="button" class="btn btn-primary form-control top24"
						id="btnSubmit">Upload</button>
				</div>
			</form>
		</div>
	</div>
	<div class="container well well-sm">
		<div class="row">
		<div class="col-md-12" id="tableName">
				
		</div>
			<div class="col-md-12" id="dataTableDiv">
			</div>
		</div>
	</div>
</body>
</html>
